In [144]:
import numpy as np
import pandas as pd

In [151]:
data = pd.read_csv('dataset/loans.csv').sample(40000)
display(data.sample(10))
display(data.shape)
# grade: 贷款级别
# sub_grade: 贷款细分级别
# short_emp: 一年以内短期雇佣
# emp_length_num:　受雇年限
# home_ownership:居住状态（自有，按揭，租住）
# dti：贷款占收入比例
# purpose:贷款用途
# term:贷款周期
# last_delinq_none:贷款申请人是否有不良记录　
# last_major_derog_none:贷款申请人是否有还款逾期90天以上记录
# reｖol_util：透支额度占信用比例
# total_rec_late_fee:逾期罚款总额
# safe_loans:贷款是否安全

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
17823,C,C5,0,3,RENT,16.71,major_purchase,36 months,0,1,62.7,0.0000,-1
30415,A,A5,0,11,MORTGAGE,9.85,debt_consolidation,36 months,0,1,60.6,0.0000,1
28510,B,B3,0,7,OWN,25.68,debt_consolidation,36 months,0,1,48.1,0.0000,1
700,C,C3,0,11,MORTGAGE,18.85,credit_card,60 months,1,1,71.8,56.6059,-1
45660,A,A1,0,9,MORTGAGE,3.42,small_business,36 months,1,1,13.4,0.0000,1
19855,D,D1,0,7,MORTGAGE,6.32,home_improvement,36 months,1,1,99.0,0.0000,1
9017,E,E3,0,4,RENT,24.71,other,36 months,1,1,92.1,0.0000,-1
37371,G,G1,0,11,MORTGAGE,17.80,debt_consolidation,60 months,1,1,93.9,0.0000,-1
5716,E,E2,0,11,MORTGAGE,8.61,other,36 months,0,0,86.1,0.0000,-1
12552,G,G1,0,11,OWN,22.91,debt_consolidation,36 months,0,1,73.8,0.0000,-1

(10000, 13)

In [152]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict

In [153]:
# 将以上非数值数据映射为数值型。
d = defaultdict(LabelEncoder)
data = data.apply(lambda x : d[x.name].fit_transform(x))
X_train = data.iloc[:800, :-1]
y_train = data.iloc[:800, -1]
test_X = data.iloc[800:, :-1]
test_y = data.iloc[800:, -1]
display(X_train)

# 特征二值化
# 由于特征值太过复杂，不利于处理。我们根据均值来二值化
for i in X_train.columns:
    mean = np.mean(X_train[i])
    for j in range(len(X_train[i])):
        X_train[i].values[j] = 1 if X_train[i].values[j]>mean else 0
for i in test_X.columns:
    mean = np.mean(test_X[i])
    for j in range(len(test_X[i])):
        test_X[i].values[j] = 1 if test_X[i].values[j]>mean else 0
display(X_train)

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee
29928,3,19,0,11,0,2681,2,1,0,1,945,0
33266,0,0,0,11,0,711,1,0,1,1,256,0
25010,0,4,0,9,0,2513,3,0,0,0,424,0
40113,2,12,0,4,0,1848,2,0,0,0,890,0
27117,1,6,0,11,0,2714,2,0,0,0,643,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3554,3,16,1,1,2,954,8,0,1,1,569,0
27105,1,5,0,8,2,1270,2,0,1,1,624,0
5295,0,3,0,9,2,805,2,0,1,1,625,0
27709,0,4,1,0,0,413,3,1,1,1,0,0
33894,2,12,0,5,3,1044,9,0,1,1,765,0

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee
29928,1,1,0,1,0,1,0,1,0,1,1,0
33266,0,0,0,1,0,0,0,0,1,1,0,0
25010,0,0,0,1,0,1,1,0,0,0,0,0
40113,0,0,0,0,0,1,0,0,0,0,1,0
27117,0,0,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3554,1,1,1,0,1,0,1,0,1,1,0,0
27105,0,0,0,1,1,0,0,0,1,1,1,0
5295,0,0,0,1,1,0,0,0,1,1,1,0
27709,0,0,1,0,0,0,1,1,1,1,0,0
33894,0,0,0,0,1,0,1,0,1,1,1,0

In [154]:
from collections import  Counter
from tqdm import tqdm

In [160]:
class DecisionTreeID3:
    def __init__(self):
        pass
    def calc_entropy(self):
        '''计算信息熵、条件熵和信息增益'''
        # 把标签放在数据最后一列，方便create_tree处理
        self.X = pd.concat([self.X, self.y], axis=1)
        # ************ 计算信息熵 **************
        yes = np.asarray(self.X[self.X[self.X.columns[-1]]==1])
        no = np.asarray(self.X[self.X[self.X.columns[-1]]==0])
        P_yes = len(yes)/len(self.X)
        P_no = len(no)/len(self.X)
        self.HX = - P_yes*np.log2(P_yes)- P_no*np.log2(P_no)
#         display("信息熵 = " +str(self.HX))
        # ************ 计算条件熵 **************
        # H存放条件熵
        self.Gda = []
        # 遍历每一特征列。除了标签列
        for i in self.X.columns[:-1]:
            # 存放条件熵
            Hi = 0
            # 获取当前特征每种情况出现的次数，以便计算每个情况各自的概率
            condProbCollections = Counter(self.X[i]).items()
            # 每种特征可能有N中情况，累加
            for k in condProbCollections:
                # 获取当前条件X发生的总样本(包含所有列)
                samples_of_current = self.X[self.X[i]==k[0]]
                # 获取当前条件X发生的总样本(仅包含当前特征列)
                samples_of_current_features = samples_of_current[i]
                # 获取当前条件X发生下，被判定为安全和不安全的总次数
                total = len(samples_of_current_features)
                # 安全总次数
                k_safe = len(samples_of_current[samples_of_current[samples_of_current.columns[-1]]==1])
                # 不安全总次数
                k_unsafe = total - k_safe
                # 计算安全和不安全的概率
                P_k_safe = k_safe/total
                P_k_unsafe = k_unsafe/total
                # 累加条件熵
                log_P_k_safe = 0 if P_k_safe==0 else np.log2(P_k_safe) # 防止出现0值报错
                log_P_k_unsafe = 0 if P_k_unsafe==0 else np.log2(P_k_unsafe) # 防止出现0值报错
                Hi +=  - (total/len(self.X))*(P_k_safe * log_P_k_safe + P_k_unsafe * log_P_k_unsafe)
            # 保存信息增益
            self.Gda.append({"value":self.HX - Hi, "feature":i})
#         print("信息增益为")
#         print(self.Gda)
    def create_tree(self, node=False):
        '''构建决策树结构。决策树信息存储在JSON字典当中
        
        Parameters
        -----
        node: Series类型，用于传递当前节点包含的信息
        
        Return
        -----
        tree: 构建好的树json结构
        '''
        # 递归出口
        if len(self.Gda)==0:
            return node.iloc[:1,-1].values[0]
        # 获取第一个特征列
        feature = self.Gda[0]['feature']
        # 删除该列，以便递归时不会重复到达这里
        del self.Gda[0]
        # 获取当前特征每种情况出现的次数，以便计算每个情况各自的概率
        condProbCollections = Counter(self.X[feature]).items()
#         print(feature)
#         print(condProbCollections)
        # 定义树字典。必须使用特征feature作为键名
        tree = {feature:{}}
        for [value,counts] in condProbCollections:
#             print(condProbCollections)
#             print(value)
            tree[feature][value] = self.create_tree(self.X[self.X[feature]==value])
        # 保存树结构
        self.tree = tree
        return tree
    def fit(self, X, y):
        '''训练
        
        Parameters
        -----
        X: 训练数据，形如 [样本数量，特征数量]
        y: 类数组类型，形状为：[样本数量]
        '''
        self.X = X
        self.y = y
        self.calc_entropy()
        self.create_tree()
    def predict_item(self, x, node=False):
        '''构建决策树结构。决策树信息存储在JSON字典当中
        
        Parameters
        -----
        node: Series类型，用于传递当前节点包含的信息
        
        Return
        -----
        tree: 构建好的树json结构
        '''
        if node==0 or node==1:
            return node
        label = -1
        # 获取当前节点名
        key = next(iter(node))
        # 如果当前节点的值等于0，递归0下面的分支，否则1
        if x[key].values[0] == 0:
            label = self.predict_item(x, node=node[key][0])
        else:
            label = self.predict_item(x, node=node[key][1])
        return label
    def predict(self, X):
        '''对样本进行预测
        Parameters:
        X: 类数组类型，可以是List也可以是Ndarray，形状为： [样本数量,特征数量]
        Returns:
        数组类型，预测结果
        '''
        result = []
        for i in range(len(X)):
            result.append(self.predict_item(X.iloc[i:i+1,], node=self.tree))
        return result

In [161]:
dt = DecisionTreeID3()
dt.fit(X_train, y_train)
result = dt.predict(test_X)
display(np.sum(result==test_y)/len(result))

0.5972826086956522

In [159]:
a=[{"a":1},{"b":2},{"c":3}]
c = iter(a)
display(next(c))
display(next(c))
display(next(c))

{'a': 1}

{'b': 2}

{'c': 3}